@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&family=Noto+Sans+JP:wght@300&display=swap");

.Days {
  font-family: "Noto Sans HK", sans-serif;
  color: #76a3a1;
  font-size: 18px;
  margin: 15px 0;
}
