@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Potta+One&family=Titan+One&display=swap");

.Days {
  font-family: "Concert One", cursive;
  color: #959595;
  font-size: 30px;
  margin: 15px 0;
}
